 <div id="comment_icon" class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <%= image_tag 'comment.png', class: 'topic-index-icon' %>
  <%= @comments.count %>
</div>