 <div id="comment_icon" class="more" data-toggle="collapse" data-target="#comment" aria-expanded="false" aria-controls="collapseExample">
  <i class="far fa-comment fa-2x mt-2 ml-2 mb-2"></i>
  <%= @comments.count %>
</div>