<div class='main'>
  <div class='item-contents'>
    <div class="item-container">
      <ul class='item-lists'>
        <% if @q.description_cont != nil %>
          <h3 class="subtitle"><%= "#{@q.description_cont} の検索結果" %></h3>
        <% else %>
          <h3 class="subtitle"><%= "検索結果" %></h3>
     　 </ul>
        <% end %>
    </div>
  </div>

</div>
<%= render partial: 'topics/topic' %>
