<div class='main'>
  <div class='item-contents'>
    <div class="item-container">
      <ul class='item-lists'>
        <h3 class="subtitle">
            <% @user_choices.length.times do |i| %>
              <i class="fas fa-tag"></i><%= @user_choices.values[i] %>
            <% end %>
              <%= "#{@q.description_cont} の検索結果#{@topics.count}件" %>
        </h3>
     　 </ul>
    </div>
  </div>
</div>
<%= render partial: 'topics/topic' %>
