<% provide(:title, "Edit user") %>
<% provide(:button_text, "変更") %>


<div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6 col-10 bg-white p-5">
          <h1 class="mb-4 text-center">設定</h1>
            <%= render 'layouts/form' %>
        </div>
      </div>
    </div>
  </div>