<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <div>
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url, size: "200x200" %>
          <% else %>
            <%= image_tag "noavatar.png", size: "200x200" %>
          <% end %>
          <%= @user.name %>
        </div>
    </section>
  <aside>
</div>